Source: turtlebot-branding-hydro
Section: graphics
Priority: optional
Maintainer: I Heart Engineering <code@iheartengineering.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3

Package: turtlebot-branding-hydro
Architecture: all
Provides: turtlebot-branding
Conflicts: turtlebot-branding
Replaces:
Depends: ${misc:Depends}, turtlebot-wallpapers-hydro | turtlebot-wallpapers
Description: TurtleBot Branding 
 This package replace the Ubuntu branding with TurtleBot branding
